<!DOCTYPE html>
<html>
<head>
	<title>David's Porfolio</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<%- include('partials/header') %>
	<div class="container">    
		<h1 style="text-align: center">David Rodriguez</h1>
	<div> 
	 	<img src="images/main.jpg" class="img-thumbnail" width="20%" >
		<h3>Overview</h3>
		<p> I'm a comp sci student with one semester left of classes before graduating. I enjoy programming and solving problems. My language of choice is currently C# but I switch around quite often. </p>
	</div>
	<div>
	  <h2>Projects</h2>
	  <h3>RICEBOT</h3>
	  <p> 
	  	A twitch bot written in C# that runs on the RicepirateMick channel. The bot uses both Twitch and Nightbot APIs to keep track of active users in a local database and make them regulars through Nightbot’s API. Other functions include an IRC listener to respond to in chat commands and stream notifications using the StreamLabs API. 
	  </p>
	  <a href="https://www.twitch.tv/ricepiratemick">https://www.twitch.tv/ricepiratemick</a>
	  <h3>MATCHING</h3>
	  <p> 
	 	A simple console-based program written in Java that could run the matching algorithms MPDA and WPDA. Made to help further understand the algorithms and test my ability to analyze pseudocode and implement it into actual code. 
	  </p>
	  <a href="https://SilentMrDave@bitbucket.org/SilentMrDave/matching.git">"Matching" Repo</a>
	  <h3>HUMAN INVASION</h3>
	  <p> 
	  	A game created for the Newgrounds Construct 2 Touch Jam. This jam focused on creating games for mobile devices and as such relied on touch controls. Human Invasion is a simple game where you control 4 turrets that you tap to fire upon incoming ships. The game reached 3rd place in the jam. 
	  </p>
	  <a href="interactive.html">Link on Interactive page</a> </div>
	<div>
	  <h2>About Me</h2>
	  <p> 
	  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at dictum est. Donec eu fermentum tortor, ac lobortis neque. 
	  Donec facilisis finibus feugiat. Fusce varius enim eu sapien dignissim pellentesque. Maecenas nisi augue, porta at metus et, dictum interdum dui. Quisque ac odio non dui faucibus ornare ac id ex. Quisque tempor varius tortor eget mattis. Proin facilisis arcu rutrum ligula vulputate, eget eleifend metus condimentum. Donec eu fermentum orci, et sollicitudin neque. Donec posuere, diam non suscipit auctor, odio tortor lacinia erat, in sagittis ipsum sapien sit amet arcu. Phasellus ultrices odio ac mi finibus consequat. Mauris luctus mattis vulputate. Curabitur eget sodales ipsum, non placerat dolor. 
	</p>
	</div>
	</div>
</body>
</html>
